@import url(&#39;
https://fonts.googleapis.com/css2?family=Jost:wght@300;
400;
500;
600;
700&amp;
display=swap&#39;
);
 .div {
    align-items: center;
    background: linear-gradient(180deg, #fff 0%, #dfe4f1 100%);
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @media (max-width: 640px) {
    .div {
      width: 629px;
    }
  }
  .div-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-bottom: 84px;
    flex-direction: column;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-2 {
      margin-bottom: 100%;
    }
  }
  .div-3 {
    background-color: #fff;
    align-self: stretch;
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: column;
  }
  .box {
    align-items: flex-start;
    align-self: center;
    display: flex;
    width: 80%;
    max-width: 100%;
    gap: 12px;
  }
  @media (max-width: 640px) {
    .box {
      width: 506px;
    }
  }
  .div-4 {
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
  }
  .div-5 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 12px/140% Poppins, sans-serif;
  }
  .div-6 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.32px;
    margin-top: 4px;
    font: 500 16px/130% Poppins, sans-serif;
  }
  .img {
    aspect-ratio: 1.2;
    object-fit: cover;
    object-position: center;
    width: 24px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .div-7 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-top: 28px;
    width: 80%;
    max-width: 100%;
    flex-direction: column;
  }
  .div-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }
  .div-9 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.4px;
    align-self: center;
    width: 240px;
    margin: auto 0;
    font: 500 20px/130% Poppins, sans-serif;
  }
  .div-10 {
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    width: 100px;
    max-width: 100%;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 10px;
  }
  .div-11 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    align-self: stretch;
    font: 400 10px/140% Poppins, sans-serif;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 14px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-12 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    gap: 8px;
  }
  .div-13 {
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px;
  }
  .div-14 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 14px/140% Poppins, sans-serif;
  }
  .div-15 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.48px;
    margin-top: 8px;
    font: 500 24px/130% Poppins, sans-serif;
  }
  .div-16 {
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px;
  }
  .div-17 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 14px/140% Poppins, sans-serif;
  }
  .div-18 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.48px;
    margin-top: 8px;
    font: 500 24px/130% Poppins, sans-serif;
  }
  .div-19 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-top: 28px;
    width: 80%;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }
  .div-20 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .div-21 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.4px;
    font: 500 20px/130% Poppins, sans-serif;
  }
  .task-statuses-bar {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 42px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    display: flex;
    margin-top: 8px;
    width: 100%;
    gap: 0px;
    padding: 6px;
  }
  @media (max-width: 991px) {
    .div-22 {
      justify-content: center;
    }
  }
  .status {
    color: #6e7591;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background-color: #fff;
    flex: 1;
    padding: 4px;
    font: 400 14px/140% Poppins, sans-serif;
  }
  .status-active {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background-color: #613be7;
    flex: 1;
    padding: 4px;
    font: 600 14px/140% Poppins, sans-serif;
  }
  .tasks-list {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    flex-grow: 1;
    flex-direction: column;
  }
  .task {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 12px;
  }
  .task-text {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .task-title {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.32px;
    font: 500 16px/130% Poppins, sans-serif;
    width: 100%;
  }
  .task-desc {
    webkit-box-orient: vertical;
    webkit-line-clamp: 2;
    overflow: hidden;
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    text-overflow: ellipsis;
    margin-top: 5px;
    font: 400 12px/140% Poppins, sans-serif;
  }
  .task-bar {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    gap: 12px;
  }
  .task-info {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .task-category {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }
  .task-category-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .task-category-text {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 15px Poppins, sans-serif;
  }
  .task-date {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    gap: 6px;
  }
  .task-date-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .task-date-text {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 15px Poppins, sans-serif;
  }
  .task-status-new {
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    align-self: center;
    text-wrap: nowrap;
    align-items: flex-start;
    border-radius: 40px;
    width: 200px;
    max-width: 100%;
    margin: auto 0;
    padding: 6px 10px;
    font: 600 12px/140% Poppins, sans-serif;
    color: #613be7;
    background-color: #f0edfd;
  }
  @media (max-width: 991px) {
    .task-status-new {
      text-wrap: initial;
    }
  }
  .task-status-progress {
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    align-self: center;
    text-wrap: nowrap;
    align-items: flex-start;
    border-radius: 40px;
    width: 200px;
    max-width: 100%;
    margin: auto 0;
    padding: 6px 10px;
    font: 600 12px/140% Poppins, sans-serif;
    color: #2b7ffc;
    background-color: #eaf5ff;
  }
  @media (max-width: 991px) {
    .task-status-progress {
      text-wrap: initial;
    }
  }
  .task-status-completed{
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    align-self: center;
    text-wrap: nowrap;
    align-items: flex-start;
    border-radius: 40px;
    width: 200px;
    max-width: 100%;
    margin: auto 0;
    padding: 6px 10px;
    font: 600 12px/140% Poppins, sans-serif;
    color: #009f76;
    background-color: #eeffe0;
  }
  @media (max-width: 991px) {
    .task-status-completed {
      text-wrap: initial;
    }
  }
  .div-38 {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    display: flex;
    margin-top: 4px;
    width: 100%;
    flex-direction: column;
    padding: 12px;
  }
  .div-39 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .div-40 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.32px;
    font: 500 16px/130% Poppins, sans-serif;
  }
  .div-41 {
    webkit-box-orient: vertical;
    webkit-line-clamp: 2;
    overflow: hidden;
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    text-overflow: ellipsis;
    margin-top: 5px;
    font: 400 12px/140% Poppins, sans-serif;
  }
  .div-42 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    gap: 12px;
  }
  .div-43 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .div-44 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }
  .img-5 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-45 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 10px/140% Poppins, sans-serif;
  }
  .div-46 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    gap: 6px;
  }
  .img-6 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-47 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 10px/140% Poppins, sans-serif;
  }
  .div-48 {
    color: #2b7ffc;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    align-self: center;
    text-wrap: nowrap;
    align-items: flex-start;
    border-radius: 40px;
    background-color: #eaf5ff;
    width: 200px;
    max-width: 100%;
    margin: auto 0;
    padding: 6px 10px;
    font: 600 12px/140% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-48 {
      text-wrap: initial;
    }
  }
  .div-49 {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    display: flex;
    margin-top: 4px;
    width: 100%;
    flex-direction: column;
    padding: 12px;
  }
  .div-50 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .div-51 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.32px;
    font: 500 16px/130% Poppins, sans-serif;
  }
  .div-52 {
    webkit-box-orient: vertical;
    webkit-line-clamp: 2;
    overflow: hidden;
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    text-overflow: ellipsis;
    margin-top: 5px;
    font: 400 12px/140% Poppins, sans-serif;
  }
  .div-53 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    gap: 12px;
  }
  .div-54 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .div-55 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }
  .img-7 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-56 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 10px/140% Poppins, sans-serif;
  }
  .div-57 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    gap: 6px;
  }
  .img-8 {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 12px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .div-58 {
    color: #6e7591;
    font-feature-settings: "clig" off, "liga" off;
    font: 400 10px/140% Poppins, sans-serif;
  }
  .div-59 {
    color: #009f76;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    align-self: center;
    text-wrap: nowrap;
    align-items: flex-start;
    border-radius: 40px;
    background-color: #eeffe0;
    width: 200px;
    max-width: 100%;
    margin: auto 0;
    padding: 6px 10px;
    font: 600 12px/140% Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .div-59 {
      text-wrap: initial;
    }
  }
  .div-60 {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #dce1ef;
    background-color: #fff;
    display: flex;
    margin-top: 4px;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: 12px 12px 0;
  }
  .div-61 {
    color: #0d101c;
    font-feature-settings: "clig" off, "liga" off;
    letter-spacing: -0.32px;
    align-items: flex-start;
    align-self: stretch;
    flex-grow: 1;
    font: 500 16px/130% Poppins, sans-serif;
  }
