#create-task-input::-webkit-input-placeholder {
  color: var(--tg-theme-hint-color);
  opacity: 1;
}
#create-task-input:-moz-placeholder {
  color: var(--tg-theme-hint-color);
  opacity: 1;
}
#create-task-input::-moz-placeholder {
  color: var(--tg-theme-hint-color);
  opacity: 1;
}
#create-task-input:-ms-input-placeholder {
  color: var(--tg-theme-hint-color);
  opacity: 1;
}
#create-task-input::-ms-input-placeholder {
  color: var(--tg-theme-hint-color);
  opacity: 1;
}
#create-task-input::placeholder {
  color: var(--tg-theme-hint-color);
  opacity: 1;
}

